@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  text-decoration: none;
  border: none;
}

html {
  font-size: 10px;
}

body {
  font-size: 14px;
}

hr {
  border: 0.05rem solid grey;
}

textarea:focus,
input:focus {
  outline: none;
}

.flex {
  display: flex;
}



.table .flex>* {
  flex: 1;
}

.fl-2 {
  flex: 2 !important;
}

/* 
.flex>* {
  flex: 1;
} */

.flex.nd>* {
  flex: initial;
}

.fl-1 {
  flex: 1;
}



.fl-3 {
  flex: 3;
}

.wrap {
  flex-wrap: wrap;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.js-c {
  justify-content: center;
}

.js-sb {
  justify-content: space-between;
}

.js-sa {
  justify-content: space-around;
}

.js-s {
  justify-content: start;
}

.js-e {
  justify-content: end;
}

.al-c {
  align-items: center;
}

.al-sb {
  align-items: space-between;
}

.al-sa {
  align-items: space-around;
}

.al-s {
  align-items: start;
}

.al-e {
  align-items: end;
}

.center {
  justify-content: center;
  align-items: center;
}

.m-a {
  margin: auto;
}

.min-w-max {
  min-width: max-content;
}

.min-w-min {
  min-width: min-content;
}

.min-h-max {
  min-height: max-content;
}

.min-h-min {
  min-height: min-content;
}

.max-w-max {
  max-width: max-content;
}

.max-w-min {
  max-width: min-content;
}

.max-h-max {
  max-height: max-content;
}

.max-h-min {
  max-height: min-content;
}

.col {
  flex-flow: column nowrap;
}

.grid {
  display: grid;
}

.btn {
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  cursor: pointer;
  min-width: max-content;
}

.btn.wb {
  border: 2px solid #283440;
}

.btn.large {
  min-width: 18rem;
}

.circle {
  padding: 0;
  border-radius: 50%;
}

.round {
  border-radius: 5rem;
}

.center {
  justify-content: center;
  align-items: center;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.hidden {
  display: none;
}

.t-center {
  text-align: center;
}

:root {
  --color-primary: #46B8DF;
  --color-1: #07131F;
  --color-2: #1A2632;
  --color-3: #283440;
}

body {
  padding: 2rem;
  background-color: var(--color-1);
  color: #E4EBF2;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.7;
  max-width: 134.8rem;
}

hr {
  border-color: var(--color-3);
}

.material-symbols-outlined.fill {
  font-variation-settings: "FILL" 1;
}

/* .mintext {
  font-size: 0.8em;
} */

.primary {
  color: var(--color-primary);
}

.warnig {
  color: #ff583e;
}

.t-color-3 {
  color: #7C8594;
}



a {
  color: #2F94D9;
}

.target {
  background-color: var(--color-2);
  border-radius: 1.5rem;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.062745098) 0rem 0.5rem 1rem 0rem;
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-glass {
  background: rgba(0, 0, 0, 0.6705882353);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
}

.bg-2 {
  background-color: var(--color-2);
}

.bg-3 {
  background-color: var(--color-3);
}

input[type=text],
input[type=number],
textarea,
select {
  padding: 1rem;
  color: inherit;
}

.form-control>input[type=text],
.form-control>input[type=number],
.form-control>textarea {
  min-width: 100%;
  min-height: 100%;
}

.form-select>select {
  min-width: 100%;
}

input[type=color] {
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 3em;
  height: 3em;
}

input[type=color]::-webkit-color-swatch {
  border: none;
  border-radius: 0.5rem;
}

.form-select>select {
  width: 100%;
}

.user-image {
  background-size: cover;
  overflow: hidden;
  width: 5rem;
  height: 5rem;
}

.user-image.s-1 {
  width: 7rem;
  height: 7rem;
}

.user-image.s-2 {
  width: 5rem;
  height: 5rem;
}

.user-image.s-3 {
  width: 4rem;
  height: 4rem;
}

.user-image.s-4 {
  width: 3rem;
  height: 3rem;
}

.user-image img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .btn.large {
    min-width: 15rem;
  }
}

@media screen and (max-width: 640px) {
  .btn.large {
    min-width: 12rem;
  }
}

@media screen and (max-width: 480px) {
  body {
    padding: 1rem;
  }
}

@media screen and (max-width: 460px) {
  body {
    padding: 1rem;
  }

  .reaction-btns-content .award:checked~.award_window {
    left: 0px !important;
    width: 320px;
  }

  .target {
    border-radius: 0;
  }

  .user-image.s-1 {
    width: 5rem;
    height: 5rem;
  }

  .user-image.s-2 {
    width: 4rem;
    height: 4rem;
  }
}

.Advertisement {
  background-color: #e2732b;
  min-height: 6rem;
}

.Big-button {
  background-color: #46B8DF;
  border: 5px solid #06141d;
  font-size: 15px;
  border-style: double;
  text-transform: uppercase;
}

.Big-button::before {
  content: "▷ ";
}

.Com-poppup {
  padding: 1rem;
  max-width: 70rem;
}

.Com-poppup .img-content {
  height: 7rem;
  width: 7rem;
  margin: auto;
}

.Com-poppup .com-display-text {
  justify-content: space-between;
}

@media screen and (max-width: 669px) {
  .Com-poppup .com-display-text {
    flex-direction: column;
    align-items: center;
  }
}

.Com-poppup .com-content {
  grid-template: auto/repeat(auto-fill, minmax(25rem, 30rem));
  justify-content: space-between;
}

.Com-poppup .continue-btn {
  font-weight: bold;
  color: #fff;
  background: linear-gradient(90deg, var(--color-primary), #5978bf);
  min-width: 20rem;
  max-width: 50%;
  margin: 2rem auto 0;
}

@media screen and (max-width: 669px) {
  .Com-poppup .com-display-text {
    flex-direction: column;
    align-items: center;
  }

  .Com-poppup .com-content {
    justify-content: center;
  }
}

.Com-target {
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 2rem;
  border-radius: 0.8rem;
}

.Com-target .com-image {
  height: 4rem;
  width: 4rem;
}

.Com-target .com-detail-cotent>* {
  margin: 0;
}

.Com-target .com-detail-cotent>*.com-name {
  font-size: 0.9em;
  color: #5e5e5e;
}

.Com-target .com-detail-cotent>*.com-members-count {
  font-weight: bold;
}

.Comments-section {
  min-height: 10rem;
  margin-top: 3rem;
  padding-top: 2rem;
}

.Comments-section::after {
  content: "";
  position: absolute;
  top: 0;
  height: 1px;
  background-color: var(--color-3);
  width: 100%;
}

.Comments-section .user-account-comment-bar-content {
  justify-content: space-between;
}

.Comments-section .user-account-comment-bar-content .form-control {
  flex: 1;
}

.Comments-section .user-comment-content .comment-action-btns-content {
  margin-top: 2rem;
}

.Comments-section .user-comment-content .comment-action-btns-content .r-action-btn {
  cursor: pointer;
}

.Comments-section .user-comment-content .comment-action-btns-content .reply-btn {
  min-width: max-content;
}

.Comments-section .user-comment-content .comment-action-btns-content .reply-btn::before {
  content: "●";
  position: absolute;
  left: -0.5rem;
  color: var(--color-3);
}

.Comunity-detail-target {
  max-width: 30rem;
}

.Comunity-detail-target .user-front-page-image {
  background: purple;
  height: 8rem;
  width: 100%;
  top: 0;
  left: 0;
}

.Comunity-detail-target .user-data-content {
  justify-content: start;
}

.Comunity-detail-target .user-data-content .user-name {
  font-size: 1.4em;
  margin: 0.5rem 0rem 0rem;
}

.Comunity-detail-target .account-summary * span:first-of-type {
  /* background: rebeccapurple; */
  font-size: 14px;
}

.Comunity-detail-target .user-image {
  margin-top: 3rem;
  background-color: #46B8DF;
  width: 7rem;
  height: 7rem;
}

.Comunity-detail-target .btns-content {
  grid-template: auto/1fr 1fr;
  font-size: 14px;
}

.Comunity-detail-target .btns-content .Big-button {
  font-size: 1rem;
}

.Comunity-detail-target .account-summary {
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  border-bottom: solid 1px #283440;
  border-top: solid 1px #283440;
  margin: 1rem 0;
  padding: 1rem 0;
}

.Comunity-detail-target .comunity-mods-content ul {
  padding: 0 2rem;
}

.Comunity-detail-target .comunity-mods-content ul a {
  color: #46b8df;
}

.Comunity-detail-target .comunity-mods-content ul a * {
  display: inline;
}

.Comunity-detail-target .theme-switcher-content {
  justify-content: center;
  color: #7C8594;
}

.Comunity-detail-target .theme-switcher-content div {
  display: flex;
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
  align-items: center;
}

.Comunity-detail-target .theme-switcher-content .switcher-content .switcher-btn.btn {
  background-color: #434a50;
  height: 2.5rem;
  width: 6rem;
  transition: linear 0.1s;
}

.Comunity-detail-target .theme-switcher-content .switcher-content .switcher-btn.btn::after {
  content: "";
  position: absolute;
  background-color: #f1cc6f;
  border-radius: 50%;
  left: 3px;
  height: 2rem;
  width: 2rem;
  box-shadow: 0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.2705882353);
  transition: cubic-bezier(0, 0, 0, 1) 0.5s;
}

.Comunity-detail-target .theme-switcher-content .switcher-content #isThemeOn:checked+.switcher-btn {
  background-color: #46b8df;
}

.Comunity-detail-target .theme-switcher-content .switcher-content #isThemeOn:checked+.switcher-btn:after {
  left: calc(100% - 3px);
  transform: translateX(-100%);
}

.Comunity-display {
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1rem;
}

.Comunity-display .user-image {
  background-color: #46B8DF;
}

.Comunity-display .comunity-data-content p {
  margin: 0;
}

.Comunity-display .follow-btn {
  border-radius: 5rem;
  color: #000;
  background-color: #fff;
  min-width: 7rem;
}

.Comunity-target h4.title {
  text-align: center;
  color: white;
}

.Comunity-target .comunyties-content {
  margin: 1rem 0;
  gap: 0.8rem;
}

.Create-comunity span.r-name {
  z-index: 100;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.Create-comunity input[name=name] {
  padding-left: 2.5rem;
}

.Create-comunity .community-type-content {
  margin: 2rem 0;
}

.Main-dash-board {
  /* min-height: 100vh; */
  grid-template-columns: minmax(25rem, 1fr) 68rem minmax(25rem, 1fr);
  gap: 2rem;
  grid-template-areas: "l content r";
  margin-top: 8rem;
}

.Main-dash-board .main {
  grid-area: content;
}

.Main-dash-board .side-bar-l {
  grid-area: l;
}

.Main-dash-board .side-bar-r {
  grid-area: r;
}

@media screen and (max-width: 1250px) {


  .Main-dash-board {
    grid-template-columns: minmax(25rem, 1fr) 58rem minmax(25rem, 1fr);
  }
}

@media screen and (max-width: 1136px) {

  .Main-dash-board {
    grid-template-areas: none;
    grid-template: auto/minmax(min-content, 75rem);
  }

  .Main-dash-board .main,
  .Main-dash-board .side-bar-l,
  .Main-dash-board .side-bar-r {
    grid-area: auto;
  }

  .Main-dash-board .side-bar-l,
  .Main-dash-board .side-bar-r {
    display: none;
  }


}

@media screen and (max-width: 480px) {


  .Main-dash-board .main {
    max-width: initial;
  }
}

@media screen and (max-width: 460px) {


  .Main-dash-board .main {
    gap: 1rem;
  }
}

.Management-target ul {
  padding-left: 2rem;
}

.Management-target ul li {
  list-style: circle;
  list-style-position: inside;
}

.Menu-links {
  line-height: 1.7;
}

.Menu-links .tap {
  padding: 1rem 0;
  border-bottom: 1px solid var(--color-3);
}

.Menu-links .tap p {
  margin: 0;
}

.Menu-links .tap input#isEditable:checked~div input#hideDirection {
  padding: 1rem;
  background-color: var(--color-3);
}

.Menu-links .tap input#isEditable:checked~div .form-contol::before {
  display: none;
}

.Menu-links .tap input#isEditable:checked~div i {
  color: var(--color-primary);
}

.Menu-links .tap .edit-btn {
  padding: 1rem;
}

.Menu-links .tap .edit-btn:hover i {
  color: var(--color-primary);
}

.Menu-links .tap input#hideDirection {
  padding: 0;
  transition: all 0.1s;
}

.Menu-links .tap .form-contol::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(26, 38, 50, 0.5019607843);
  z-index: 100;
  color: black;
}

.Menu-links .tap .switcher-content .switcher-btn.btn {
  background-color: #434a50;
  height: 2.5rem;
  width: 6rem;
  transition: linear 0.1s;
}

.Menu-links .tap .switcher-content .switcher-btn.btn::after {
  content: "";
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  left: 3px;
  height: 2rem;
  width: 2rem;
  box-shadow: 0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.2705882353);
  transition: cubic-bezier(0, 0, 0, 1) 0.5s;
}

.Menu-links .tap .switcher-content input#wikiEnabled:checked+.switcher-btn {
  background-color: var(--color-primary);
}

.Menu-links .tap .switcher-content input#wikiEnabled:checked+.switcher-btn:after {
  left: calc(100% - 3px);
  transform: translateX(-100%);
  background-color: #fff;
}

.Menu-links .options-content {
  margin-top: 2rem;
}

.Mnemonic-target {
  min-height: 10rem;
  min-width: 10rem;
  max-width: 80vw;
  padding-bottom: 5rem;
}

.Mnemonic-target h2 {
  margin-top: 4rem;
}

.Mnemonic-target form {
  max-width: 50rem;
  margin: auto;
}

.Mnemonic-target form .confirm-btn {
  max-width: 12rem;
}

@media screen and (max-width: 480px) {
  .Mnemonic-target {
    max-width: 95vw;
  }
}

.Nav-bar {
  margin-bottom: 3rem;
  justify-content: space-between;
  background: #07131f;
  margin-bottom: 3rem;
  position: fixed;
  /* height: 100vh; */
  width: 97%;
  z-index: 200;
  top: 0;
  padding: 1rem 2rem 0.2rem;
  max-width: 130.8rem;
  padding-right: 0px;
}

.Nav-bar .seach-bar-content .form-control {
  max-width: 25rem;
  min-width: 18rem;
}

.Nav-bar .other {
  gap: 2rem;
  justify-content: end;
}

.Nav-bar .other .panel-btns-content {
  gap: 2rem;
}

.Nav-bar .other .home-link {
  background-color: #fff;
  color: #000;
  min-width: max-content;
}

.Nav-bar .other .notifications-content {
  gap: 1rem;
}

.Nav-bar .other .showmore-btn {
  height: 5rem;
  width: 5rem;
}

.Nav-bar .other .ford-points-btn,
.Nav-bar .other .messages-btn,
.Nav-bar .other .notifications-btn,
.Nav-bar .other .showmore-btn {
  background-color: transparent;
}

@media screen and (max-width: 960px) {
  .Nav-bar .page-logo-content {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .Nav-bar {
    background-color: #283440;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .Nav-bar label[for=showPanelButons] {
    display: initial;
    max-width: max-content;
  }

  .Nav-bar label[for=showPanelButons] i {
    transform: rotateY(180deg);
  }

  .Nav-bar input#showPanelButons:checked+.panel-btns-content {
    right: 0%;
  }

  .Nav-bar .panel-btns-content {
    background-color: var(--color-2);
    position: fixed;
    transition: cubic-bezier(0, 0, 0, 1) 0.3s;
    right: calc(-100% - 2rem);
    top: 5.2rem;
    padding: 6rem;
    min-height: 100vh;
    width: 100vw;
    flex-flow: column;
  }

  .Nav-bar .User-account-dropdown {
    display: flex;
  }

  .Nav-bar .User-account-dropdown::after {
    display: none;
  }

  .Nav-bar .showmore-btn {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .Nav-bar {
    padding: 1rem 1rem 0.2rem;
  }

  .Nav-bar .User-account-dropdown {
    min-width: max-content !important;
  }

  .Nav-bar .User-account-dropdown::after,
  .Nav-bar .User-account-dropdown::before {
    display: none;
  }

  .Nav-bar .User-account-dropdown>*:not(.user-image, .panel-links-content) {
    display: none;
  }
}

@media screen and (max-width: 380px) {
  .Nav-bar label[for=showSeachBar] {
    display: initial;
  }

  .Nav-bar .seach-bar-content {
    display: none;
  }
}

.Option-button {
  max-width: max-content;
  gap: 4px;
  padding: 1rem;
  background: transparent;
}

.Option-button .circle {
  background-color: #7c8594;
  height: 4px;
  width: 4px;
}

.Poll-popup {
  z-index: 200;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: cubic-bezier(0, 0, 0, 1) 0.3s;
}

.Poll-popup form {
  top: 100px;
  padding: 20px 25px 20px 25px;
  width: 40vw;
  background-color: #1a2632;
  position: fixed;
  border-radius: 15px;
  min-width: 400px;
  max-height: 70vh;
  overflow-y: auto;
}

.Poll-popup form .quit-btn {
  font-size: 1.3em;
  right: 1rem;
  z-index: 100;
  padding: 0rem 1rem;
  transition: color 0.1s;
}

.Poll-popup form .quit-btn:hover {
  color: inherit;
}

.Poll-popup form input#showHiddenAnwers:checked~.add-answer-btn::after {
  content: "Restore";
}

.Poll-popup form input#showHiddenAnwers:checked~.add-answer-btn::before {
  content: "⨯";
}

.Poll-popup form input#showHiddenAnwers:checked~.other-anwers-content {
  max-height: 100vh;
  overflow: initial;
}

.Poll-popup form input#showHiddenAnwers:checked~.other-anwers-content .form-group {
  padding-bottom: 1rem;
  line-height: 2;
}

.Poll-popup form .other-anwers-content {
  max-height: 0;
  overflow: hidden;
}

.Poll-popup form .other-anwers-content .form-group {
  padding-bottom: 0;
}

.Poll-popup form .add-answer-btn {
  align-self: flex-start;
  margin-bottom: 10px;
  width: 20%;
}

.Poll-popup form .add-answer-btn::before {
  content: "+";
  font-size: 1.2em;
  margin-right: 1rem;
}

.Poll-popup form .add-answer-btn::after {
  content: "Add More Answer";
}

.Post-bar .user-image {
  background-color: #46B8DF;
}

.Post-bar .controls-content {
  flex: 8;
}

.controls-content textarea {
  font-size: 1.6rem;
  padding: 1.3rem 1rem;
  width: 100%;
  border-radius: 1rem;
  transition: all 0.2s;
  resize: none;
  min-height: 3em;
}

.Post-bar .post-btn {
  display: none;
  opacity: 0;
}

.Post-bar .btns-content {
  margin-top: 2rem;
}

.Post-bar input#isPopupVisible:checked+.Poll-popup {
  /* transform: scale(1);
  opacity: 1; */
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  display: flex;
  justify-content: center;
}

.Post-bar .Poll-popup {
  display: flex;
  justify-content: center;
  z-index: 3000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
  backdrop-filter: blur(5px);
}

@media screen and (max-width: 480px) {
  .Post-bar .btns-content {
    gap: 1rem;
  }
}

@media screen and (max-width: 440px) {
  .Post-bar .btns-content {
    gap: 1rem;
  }
}

.Post-flair .table {
  min-width: 100%;
}

.Post-flair .table tr:first-of-type {
  border-bottom: 1px solid #283440;
  padding-bottom: 1rem;
}

.Post-flair i[data-icon=info] {
  font-size: 2rem;
}

.Post-flair .delete-btn {
  font-size: 2rem;
  padding: 0;
}

.Post-flair .delete-btn:hover {
  color: #ff4141;
}

.Post-flair .table-2-content {
  margin-top: 1rem;
}

.Post-settings select#selectTime {
  border-left: 1px solid grey;
}

.Private-community-notice .content {
  max-width: 50rem;
  padding: 2rem 0;
}

.Private-community-notice .key-icon {
  height: 10rem;
  width: 10rem;
}

.Private-community-notice .key-icon i {
  font-size: 5rem;
  transform: rotateY(180deg) rotate(45deg);
}

.Private-community-notice .title {
  margin-top: 3rem;
}

.Private-community-notice .text,
.Private-community-notice .btns-content,
.Private-community-notice .note {
  margin-top: 2rem;
}

.Private-community-notice .popup-background {
  min-height: 100vh;
  min-width: 100vw;
  opacity: 0;
  z-index: 200;
  transform: scale(0);
  transition: all 0.3s;
  top: 0;
  left: 0;
}

.Private-community-notice .request-to-join-popup {
  max-width: 55rem;
}

.Private-community-notice .request-to-join-popup .quit-btn {
  top: 0;
  font-size: 1.3em;
  right: 0;
  z-index: 100;
  padding: 0 1rem;
}

.Private-community-notice .request-to-join-popup .quit-btn:hover {
  color: inherit;
}

.Private-community-notice .request-to-join-popup .form-group {
  margin-top: 1rem;
}

.Private-community-notice .request-to-join-popup .form-control::before {
  content: "MESSAGE TO MODERATORS";
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  z-index: 100;
  font-size: 0.8em;
  color: #bfbfbf;
}

.Private-community-notice .request-to-join-popup .form-control textarea#messageToModerators {
  padding-top: 2.5rem;
}

.Private-community-notice input#showRequestToJoin:checked+.popup-background {
  transform: scale(1);
  opacity: 1;
}

.Rules-target .rues-content>ol>li label {
  padding: 0.6rem 1rem;
  justify-content: space-between;
}

.Rules-target .rues-content>ol>li label::after {
  content: "❯";
  font-size: 1.5em;
  transition: ease-in-out 0.2s;
}

.Rules-target .rues-content>ol>li .rule-description-content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s;
}

.Rules-target .rues-content>ol>li input:checked+label::after {
  transform: rotate(90deg);
}

.Rules-target .rues-content>ol>li input:checked~.rule-description-content {
  max-height: 100vh;
  padding: 1rem 2rem 1rem;
}

.Sidebar-widgets .widgets-content {
  margin-top: 1rem;
  min-width: 50%;
}

.Sidebar-widgets .widgets-content .widget-labels-content {
  max-width: 24%;
}

.Sidebar-widgets .widgets-content .widget-label {
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
}

.Sidebar-widgets .widgets-content .widget-label::after {
  content: "❯";
}

.Sidebar-widgets .widgets-content .config-1 {
  padding: 0rem;
  min-width: 0%;
  width: 100%;
  max-width: 0%;
  overflow: hidden;
  opacity: 0;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}

.Sidebar-widgets .widgets-content .config-2 {
  padding: 0rem;
  min-width: 0%;
  width: 100%;
  max-width: 0%;
  overflow: hidden;
  opacity: 0;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}

.Sidebar-widgets .widgets-content .config-3 {
  padding: 0rem;
  min-width: 0%;
  width: 100%;
  max-width: 0%;
  overflow: hidden;
  opacity: 0;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}

.Sidebar-widgets .widgets-content input#radio-1:checked~.widget-labels-content .widget-label[for=radio-1] {
  background-color: #28465d;
}

.Sidebar-widgets .widgets-content input#radio-1:checked~.config-1 {
  opacity: 1;
  margin-left: 1rem;
  padding: 1rem;
  max-width: 100%;
}

.Sidebar-widgets .widgets-content input#radio-2:checked~.widget-labels-content .widget-label[for=radio-2] {
  background-color: #28465d;
}

.Sidebar-widgets .widgets-content input#radio-2:checked~.config-2 {
  opacity: 1;
  margin-left: 1rem;
  padding: 1rem;
  max-width: 100%;
}

.Sidebar-widgets .widgets-content input#radio-3:checked~.widget-labels-content .widget-label[for=radio-3] {
  background-color: #28465d;
}

.Sidebar-widgets .widgets-content input#radio-3:checked~.config-3 {
  opacity: 1;
  margin-left: 1rem;
  padding: 1rem;
  max-width: 100%;
}

.Sidebar-widgets .widgets-content .back-btn {
  height: 4rem;
  width: 4rem;
}

@media screen and (max-width: 596px) {
  .Sidebar-widgets .widgets-content {
    overflow: hidden;
  }

  .Sidebar-widgets .widgets-content .back-btn {
    display: flex;
  }

  .Sidebar-widgets .widgets-content .widget-labels-content {
    min-width: 0%;
    overflow: hidden;
    max-width: 100%;
  }

  .Sidebar-widgets .widgets-content .config-1 {
    padding: 0rem;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: 100;
    background-color: var(--color-2);
    opacity: 1;
    left: 100%;
  }

  .Sidebar-widgets .widgets-content input#radio-1:checked~.widget-labels-content .widget-label[for=radio-1] {
    background-color: #28465d;
  }

  .Sidebar-widgets .widgets-content input#radio-1:checked~.config-1 {
    left: 0%;
    padding: 0rem;
    margin: 0;
  }

  .Sidebar-widgets .widgets-content .config-2 {
    padding: 0rem;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: 100;
    background-color: var(--color-2);
    opacity: 1;
    left: 100%;
  }

  .Sidebar-widgets .widgets-content input#radio-2:checked~.widget-labels-content .widget-label[for=radio-2] {
    background-color: #28465d;
  }

  .Sidebar-widgets .widgets-content input#radio-2:checked~.config-2 {
    left: 0%;
    padding: 0rem;
    margin: 0;
  }

  .Sidebar-widgets .widgets-content .config-3 {
    padding: 0rem;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: 100;
    background-color: var(--color-2);
    opacity: 1;
    left: 100%;
  }

  .Sidebar-widgets .widgets-content input#radio-3:checked~.widget-labels-content .widget-label[for=radio-3] {
    background-color: #28465d;
  }

  .Sidebar-widgets .widgets-content input#radio-3:checked~.config-3 {
    left: 0%;
    padding: 0rem;
    margin: 0;
  }
}

.Theme-preferences .link-color-content,
.Theme-preferences .theme-color-content,
.Theme-preferences .main-menu-color-content,
.Theme-preferences .sub-menu-color-content {
  margin: 1rem 0;
}

.Trend-display {
  justify-content: space-between;
}

.Trend-display .tag {
  color: inherit;
}

.Trend-display .tweets-conunt {
  margin: 0;
}

.Trends-target h4 {
  color: grey;
  text-transform: uppercase;
}

.Trends-target .conconfig-btn {
  font-size: 1.5em;
  z-index: 100;
  right: 1rem;
  top: 1rem;
}

.Trends-target .trending-content {
  margin: 0.5rem 0;
  gap: 1rem;
}

.Tweet-detail-target .Option-button {
  position: absolute;
  z-index: 100;
  right: 1rem;
}

.Tweet-detail-target .teewt-data {
  gap: 1rem;
}

.Tweet-detail-target .teewt-content {
  flex: 8;
}

.Tweet-detail-target .teewt-content .posted-by {
  font-size: 0.9em;
}

.Tweet-detail-target .teewt-content .teewt-text-content {
  font-size: 1.3em;
}

.Tweet-detail-target .user-image-content {
  flex: 1;
}

.Tweet-detail-target .user-image-content .user-image {
  background-color: #46B8DF;
}

.Tweet-detail-target .teewt-reactions-content {
  justify-content: space-between;
  margin: 2rem 0;
}

.Tweet-detail-target .teewt-reactions-content .main-reactions-content * {
  min-width: max-content;
}

.Tweet-detail-target .reaction-btns-content {
  gap: 1rem;
}

.Tweet-detail-target .reaction-btns-content .r-action-btn {
  width: 5rem;
  height: 100%;
}

.Tweet-detail-target .reaction-btns-content .r-action-btns-content,
.Tweet-detail-target .reaction-btns-content .large-btns-content {
  gap: 1rem;
}

.Tweet-target .Option-button {
  position: absolute;
  z-index: 100;
  right: 1rem;
}

.Tweet-target .teewt-content {
  flex: 8;
}

.Tweet-target .teewt-content .posted-by {
  font-size: 0.9em;
}

.Tweet-target .user-image-content {
  flex: 1;
}

.Tweet-target .user-image-content .user-image {
  background-color: #46B8DF;
}

.Tweet-target .teewt-reactions-content {
  justify-content: space-between;
  margin: 1rem 0;
}

.Tweet-target .teewt-reactions-content .main-reactions-content {
  gap: 1rem;
}

.Tweet-target .teewt-reactions-content .main-reactions-content>* {
  min-width: max-content;
}

.Tweet-target .reaction-btns-content {
  gap: 1rem;
  position: relative;
}

.Tweet-target .reaction-btns-content .r-action-btn {
  width: 5rem;
  height: 100%;
}

.reaction-btns-content .r-action-btns-content .r-action-btn.desabled {
  background-color: #545429;
  cursor: unset;
}

.Tweet-target .reaction-btns-content .r-action-btns-content,
.Tweet-target .reaction-btns-content .large-btns-content {
  gap: 1rem;
}

.Unmoderated-tweet-spam-target .btn.large {
  min-width: max-content;
}

.Unmoderated-tweet-target .Option-button {
  position: absolute;
  z-index: 100;
  right: 1rem;
}

.Unmoderated-tweet-target .teewt-content {
  flex: 8;
}

.Unmoderated-tweet-target .teewt-content .posted-by {
  font-size: 0.9em;
}

.Unmoderated-tweet-target .user-image-content {
  flex: 1;
}

.Unmoderated-tweet-target .user-image-content .user-image {
  background-color: #46B8DF;
}

.Unmoderated-tweet-target .teewt-reactions-content {
  justify-content: space-between;
  margin: 2rem 0;
}

.Unmoderated-tweet-target .teewt-reactions-content .main-reactions-content {
  gap: 2rem;
}

.Unmoderated-tweet-target .teewt-reactions-content .main-reactions-content>* {
  min-width: max-content;
}

.Unmoderated-tweet-target .reaction-btns-content {
  gap: 1rem;
}

.Unmoderated-tweet-target .reaction-btns-content .r-action-btn {
  width: 5rem;
}

.Unmoderated-tweet-target .reaction-btns-content .large-btns-content .btn.large {
  gap: 0.5rem;
}

.User-account-dropdown {
  min-width: 15rem;
  justify-content: start;
  padding: 0.5rem;
  z-index: 100;
}

.User-account-dropdown::after {
  content: "▼";
  color: #fff;
  position: absolute;
  right: 1rem;
}

.User-account-dropdown::before {
  content: "";
  position: absolute;
  background-color: #283440;
  width: 1px;
  height: 80%;
  left: -1.4rem;
}

.User-account-dropdown .user-image {
  background-color: aquamarine;
}

.User-account-dropdown input#test:checked+.panel-links-content {
  opacity: 1;
  transform: scale(1);
}

.User-account-dropdown input#test:checked~.aux-div {
  display: initial;
}

.User-account-dropdown .panel-links-content {
  cursor: initial;
  min-width: max-content;
  width: 100%;
  right: 0;
  padding: 2rem;
  top: 100%;
  transition: cubic-bezier(0.65, 0.05, 0.36, 1) 0.2s;
  transform: scale(0);
  opacity: 0;
  transform-origin: 100% 0%;
}

.User-account-dropdown .panel-links-content a {
  justify-content: start;
  max-width: max-content;
}

.User-account-dropdown .panel-links-content li a:hover {
  color: #b35151;
}

.User-account-dropdown .panel-links-content li a {
  transition: color 0.4s;
}

.User-account-dropdown .aux-div {
  height: 10rem;
  width: 10rem;
  left: 0;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .User-account-dropdown .panel-links-content {
    left: 0;
    transform-origin: 0% 0%;
  }
}

@media screen and (max-width: 480px) {
  .User-account-dropdown .panel-links-content {
    left: 0;
    position: fixed;
    width: 100vw;
    top: 5rem;
    height: calc(100vh - 5rem);
    border-radius: 0;
  }
}

.User-target {
  overflow: hidden;

}

.User-target div {
  /* margin-top: 10px;
  margin-bottom: 10px; */
}

.User-target .user-front-page-image {
  background: bisque;
  height: 8rem;
  width: 100%;
  top: 0;
  left: 0;
}

.User-target .user-data-content {
  justify-content: start;
}

.User-target .user-data-content .user-name {
  font-size: 15px;
  margin: 0.5rem 0rem 0rem;
}

.User-target .account-summary * span:first-of-type {
  /* background: rebeccapurple; */
  /* font-size: 1.25em; */
}

.User-target .user-image {
  margin-top: 3rem;
  background-color: #46B8DF;
}

.User-target .account-summary {
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  border-bottom: solid 1px #283440;
  border-top: solid 1px #283440;
  margin: 1rem 0;
  padding: 1rem 0;
}

.User-target .account-summary .tweets-conunt,
.User-target .account-summary .comments-conunt {
  border-bottom: solid 1px #283440;
}

.Wellcome-bar {
  z-index: 100;
  left: 0;
  width: 100vw;
  top: 0;
}

.Widget-appearance textarea#widgetContent {
  resize: none;
  font-size: 1em;
}

.Wiki-editor textarea#bodyContent {
  min-width: 100%;
  resize: none;
  font-size: 1.005em;
}

/*# sourceMappingURL=styles.css.map */

#tweet-input {
  font-size: 1.6rem;
  padding: 1.3rem 1rem;
  width: 100%;
  border-radius: 1rem;
  min-height: 3em;
  position: absolute;
  top: 0px;
  opacity: 0;
  display: block;
  cursor: pointer;

}

#cancel_window {
  display: none;
}


.Post-bar #tweet-input:checked~#create_post {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  display: flex;
  justify-content: center;
}

.Post-bar #poll:checked~#create_poll {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  display: flex;
  justify-content: center;
}

.Post-bar #cancel_window:checked~.overlay {
  visibility: hidden;
  opacity: 0;
}

.overlay {
  display: flex;
  justify-content: center;
  z-index: 3000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
  backdrop-filter: blur(5px);
}

.overlay .overlay_widget {
  top: 100px;
  padding: 20px 25px 20px 25px;
  width: 40vw;
  background-color: #1a2632;
  position: fixed;
  border-radius: 15px;
  min-width: 400px;
  max-height: 70vh;
  overflow-y: auto;
}

.overlay_widget .title {
  width: 95%;
  text-align: center;
}

.overlay_widget .cancel label {
  width: 5%;
  cursor: pointer;
}

.overlay_widget .header {
  display: flex;
  font-size: 20px;
  margin-bottom: 3vh;
}

.overlay_widget .textarea {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 18vh;
}

.overlay_widget .textarea textarea {
  height: 100%;
  background-color: #283440;
}

.overlay_widget .poll {
  margin-top: 10px;
}

.overlay_widget .poll input {
  background-color: #283440;
  width: 100%;
  margin-bottom: 10px;
}

.overlay_widget .add_image {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
}

.overlay_widget .add_image label {
  border-radius: 5px;
  background-color: #1a2632;
  border: 2px solid #27333f;
  color: #818d99;
  width: 30%;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 10px;
}

.overlay_widget .add_image button {
  border-radius: 5px;
  background-color: #1a2632;
  border: 2px solid #27333f;
  color: #818d99;
  width: 30%;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 10px;
}

.overlay_widget .add_image input {
  width: 30%;
  padding: 10px;
  font-size: 15px;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
}

#poll_show {
  display: none;
}

.publication-poll__inner .form-group label {
  padding-bottom: 1rem;
  line-height: 2;
}

.publication-poll__inner .form-group .form-control input {

  min-height: unset;
  margin-bottom: 10px;
}

.Poll-popup .form-group {
  padding-bottom: 1rem;
  line-height: 2;
}

.Poll-popup .form-group .submit button {
  width: 100%;
  background-color: #46b7df;
  border-radius: 18px;
  line-height: 37px;
  font-size: 16px;
  color: white;
}

.overlay_widget .submit button {
  width: 100%;
  background-color: #46b7df;
  border-radius: 18px;
  line-height: 37px;
  font-size: 16px;
  color: white;
}

.user-front-page-image img {
  width: 100%;
  height: 100%;
}

.overlay_widget .poll .text {
  margin-bottom: 10px;
}

/* 
.Main-dash-board .side-bar-l,
.Main-dash-board .side-bar-r {
  overflow-y: auto;
  height: 100vh;
}

.Main-dash-board .side-bar-l::-webkit-scrollbar,
.Main-dash-board .side-bar-r::-webkit-scrollbar {
  width: 7px;
}

.Main-dash-board .side-bar-l::-webkit-scrollbar,
.Main-dash-board .side-bar-r::-webkit-scrollbar-track {
  background: #07131f;
}

.Main-dash-board .side-bar-l::-webkit-scrollbar,
.Main-dash-board .side-bar-r::-webkit-scrollbar-thumb {
  background: #767676;
  border-radius: 20px;
}

.Main-dash-board .side-bar-l::-webkit-scrollbar,
.Main-dash-board .side-bar-r::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.Main-dash-board .side-bar-l,
.Main-dash-board .side-bar-r {
  overflow-y: auto;
  height: 100vh;
} */

.overlay_widget .textarea textarea::-webkit-scrollbar {
  width: 7px;
}

.overlay_widget .textarea textarea::-webkit-scrollbar-track {
  background: #1a2632;
}

.overlay_widget .textarea textarea::-webkit-scrollbar-thumb {
  background: #767676;
  border-radius: 20px;
}

.overlay_widget .textarea textarea::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.main.flex {
  /* overflow-y: auto; */
  height: 100vh;
}

/* 
.main.flex::-webkit-scrollbar {
  width: 7px;
}

.main.flex::-webkit-scrollbar-track {
  background: #07131f;
}

.main.flex::-webkit-scrollbar-thumb {
  background: #767676;
  border-radius: 20px;
}

.main.flex::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

.overlay_widget {
  overflow-y: auto;
}

.overlay_widget::-webkit-scrollbar {
  width: 3px;
}


.overlay_widget::-webkit-scrollbar-thumb {
  background: #494b4c;
  border-radius: 20px;
}

.overlay_widget::-webkit-scrollbar-thumb:hover {
  background: #555;
}



.Poll-popup form::-webkit-scrollbar {
  width: 3px;
}

.Poll-popup form::-webkit-scrollbar-thumb {
  background: #494b4c;
  border-radius: 20px;
}

.Poll-popup form::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background: #494b4c;
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.user-data-content .user-member-since img {
  width: 20px;
}

.r-action-btns-content .r-action-btn img {
  width: 20px;
}

.panel-btns-content img {
  width: 20px;
}

.showmore-btn img {
  width: 20px;
}

.notifications-btn sup {
  position: absolute;
  width: 15px;
  height: 16px;
  left: 29px;
  top: 0px;
  background-color: #fa3232;
  border-radius: 50%;
  text-align: center;
}

.reaction-btns-content img {
  width: 20px;
}

.overlay_widget .preview {
  text-align: center;
}

.overlay_widget .preview img {
  height: 200px;
}

.overlay_widget .header .cancel button {
  background-color: #1a2632;
  color: white;
}

.target_a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.Tweet-target {
  position: relative;
}

.Tweet-target .Option-button,
.teewt-data .user-image-content .user-image,
.teewt-data .teewt-content h4,
.teewt-data .teewt-content .posted_title,
.teewt-data .teewt-content p,
.teewt-reactions-content .main-reactions-content,
.teewt-reactions-content .teewt-comments-count-content,
.reaction-btns-content div {
  z-index: 5;
}



.Tweet-target a {
  z-index: 2;
}


.publication-poll__inner .publication-poll__option .bar-text p {
  line-height: 1.5;
  background-color: #283440;
}

.controls-content .title {
  padding-left: 10px;
  font-size: 20px;
  color: #78b4f1;
  text-align: center;
}

.controls-content .subtitle {
  padding-left: 10px;
  text-align: center;
  color: #747c8b;
}

.main-reactions-content .teewt-likes-count-content img {
  width: 20px;
}

.main-reactions-content {
  align-items: center;
}

.main-reactions-content .teewt-likes-count-content {
  gap: 1rem;
  display: flex;
}

.main-reactions-content .teewt-likes-count-content span {
  align-self: center;
}

.teewt-content .posted_title img {
  width: 15px;
}

.teewt-content .posted_title {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.teewt-content .posted_title div {
  margin-right: 5px;
}

#poll {
  display: none;
}

.Tweet-target .teewt-data.no_posts {
  flex-direction: column;
  align-items: center;

}

.Tweet-target .teewt-data.no_posts .title {
  font-size: 20px;
}

.Tweet-target .teewt-data.no_posts .content {
  color: #7c8594;
}

.Trends-target .trending-content .trend-data-content a {
  color: #2F94D9;
}

.side-bar-r .Comunity-target .comunyties-content .Comunity-display {
  align-items: center;
}

.side-bar-l .Comunity-target .comunyties-content .Comunity-display {
  align-items: center;
}

.reaction-btns-content .award {
  opacity: 0;
  display: none;
  position: absolute;
  z-index: 6;
  left: 140px;
  width: 50px;
  height: 40px;
  cursor: pointer;
}

.reaction-btns-content .award_window {
  display: none !important;
  z-index: 6;
  position: absolute;
  width: 400px;
}

.reaction-btns-content .award:checked~.award_window {
  display: block !important;
  left: 140px;
  top: -250px;
  z-index: 11;
}

.reaction-btns-content .award:checked {
  position: fixed;
  display: block;
  left: 0px;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: 10;
}

.award_window .award_window_body {
  padding: 10px;
  background-color: #3a4c5e;
  border-radius: 10px;
  height: 240px;
  text-align: -webkit-center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reaction-btns-content .award_window::after {
  content: "";
  border-width: 0px 16px 16px 0px !important;
  border: solid;
  border-color: transparent;
  border-right-color: #3a4c5e;
  display: block;
  position: absolute;
  left: 8px;
}

.reaction-btns-content .award_window a {
  text-decoration: underline;
}

.award_window .award_window_body .award_image div {
  width: 50px;
  height: 50px;
  background-image: url("../img/Awards/7c2f679102faa666537fd6e9dfca15.png");
  background-size: cover;
}

.award_window .award_window_body .award_image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 150px;

}

.Tweet-target .reaction-btns-content {
  justify-content: center;
}

.main-reactions-content .teewt-shared-count-content {
  gap: 0.5rem;
  display: flex;
}

.main-reactions-content .teewt-shared-count-content img {
  width: 20px;
}

.management-content .Management-dislplay .t-color-3:hover {
  color: #ad6767;
}

.Management-target.target {
  line-height: 1.5;
}

.Com-target .add-btn {
  background-color: transparent;
  color: #7C8594;
  cursor: pointer;
}

a .Big-button {
  color: #E4EBF2;
}

/* .new_tap {
  transition: all .5s ease-in-out;
  height: 0px;
  overflow: hidden;
}

.new_tap:target {
  height: auto;
} */

.slide_toggle {
  height: 0px;
  transition: all .5s ease-in-out;
  overflow: hidden;
}

.options-content .max-w-max {
  color: #2F94D9;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.options-content .max-w-max i {
  padding-right: 10px;
}

.Menu-links input:checked+.slide_toggle {
  height: auto;
}

.Menu-links h2 {
  cursor: pointer;
}

.Sidebar-widgets .widgets-content {
  max-height: 700px;
}

.Management-target form button {
  background-color: transparent;
  cursor: pointer;
}

.Theme-preferences .btns-content button {
  color: white;
  font-size: 1.6rem;
}

.btn.wb {
  background-color: transparent;
}

.Management-dislplay li {
  cursor: pointer;
}

.side-bar-r hr {
  margin-bottom: 10px;
}

.comunity-image-content .user-image::before {
  content: "r/";
  left: 14px;
  position: absolute;
  top: -11px;
  font-size: 45px;
}

.user-data-content.community .user-image::before {
  content: "r/";
  left: 20px;
  position: absolute;
  top: -10px;
  font-size: 54px;
}

.timeline {
  padding: 10px;
}

.pagination {
  display: inline-block;
  align-self: center;
}

.pagination a {
  color: rgb(101, 115, 163);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid rgb(125, 145, 148);
  margin: 5px;
}

.pagination a.active {
  background-color: #3d4752;
  color: rgb(192, 204, 228);
  border: 1px solid #7570bb;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.icon_middle {
  display: flex;

}

.User-target .btns-content {
  grid-template: auto/1fr 1fr;
}

.notifications-content .ford-points-btn img {
  width: 16px;
}

.other .panel-btns-content {
  align-items: center;
}

.other .panel-btns-content .home-link {
  height: 23px;
}

.other .panel-btns-content .messages-btn a {
  height: 20px;
}

.timeline-placeholder .icon .icon__bg img {
  width: 100px;
}

.timeline-placeholder .icon .icon__bg,
.timeline-placeholder .pl-message {
  text-align: center;
}

.timeline-placeholder .pl-message h4 {
  font-size: 20px;
}

.timeline-placeholder .pl-message p {
  font-size: 16px;
}

.timeline-placeholder .c2action-single {
  text-align: -webkit-center;
}

.Create-comunity form .btns-content button {
  color: white;
}

.Management-target .t-center img {
  width: 15px;
}

.Post-flair .btns-content button {
  color: white;
}

.content-h {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.grid-h {
  width: 50%;
}

.tbody tr.flex td .delete {
  display: flex;
  color: white;
}

.tbody tr.flex td.flex div {
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

.table-2-content .tbody tr.flex td.fl-2 {
  text-align: center;
}

.table-2-content .tbody tr.flex td.fl-2 textarea {
  width: 100%;
}

div.Option-button img {
  width: 20px;
  cursor: pointer;
}

div.Option-button .dropdown {
  opacity: 0;
  transition: cubic-bezier(0.65, 0.05, 0.36, 1) 0.2s;
  transform: scale(0);
  position: absolute;
  padding: 5px;
  background-color: #3f5162;
  width: max-content;
  border-radius: 5px;
}

div.Option-button .dropdown label {
  display: flex;
  transition: color 0.4s;
}

div.Option-button .dropdown label:hover {
  color: #2F94D9;
  cursor: pointer;
}

div.Option-button .dropdown label i {
  padding-right: 5px;
}

.relative {
  position: relative;
}


.Option-button .relative input.more_btn:checked~.dropdown {
  opacity: 1;
  transform: scale(1);
  z-index: 11;
}


.r-action-btns-content .r-action-btn label {
  cursor: pointer;
}

.Option-button .relative input {
  display: none;
}

.Option-button .relative input.more_btn:checked {
  position: fixed;
  display: block;
  opacity: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: 10;
  cursor: pointer;
}



.Tweet-target .overlay_flair,
input.flair_modal {
  display: none;
}


input.flair_modal:checked~.overlay_flair {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 2999;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.overlay_flair .close_flair {
  position: fixed;
  display: block;
  opacity: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: 3000;
  cursor: pointer;
}

.overlay_flair .main_widget {
  z-index: 3001;
  top: 20vh;
  padding: 20px 25px 20px 25px;
  width: 25vw;
  background-color: #1a2632;
  position: fixed;
  border-radius: 15px;
}

.overlay_flair .main_widget form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.overlay_flair .main_widget form input[type=text] {
  background-color: #283440;
  padding: 14px 10px;
  color: #d6d6d6;
  flex: 2;
}

.overlay_flair .main_widget form input[type=text]:before {
  content: "value";
}

.overlay_flair .main_widget form input[type=submit]:hover {
  background-color: #466adf;

}

.overlay_flair .main_widget form input[type=submit] {
  background-color: #46b7df;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  line-height: 2;
  cursor: pointer;
  transition: 0.3s;

}

.overlay_flair .main_widget #paste_btn {
  display: none;
}

.overlay_flair .main_widget form label img {
  width: 20px;
  cursor: pointer;
}

.overlay_flair .main_widget form label {
  margin-left: 10px;
}

.overlay_flair .main_widget form div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

}

.overlay_flair .main_widget form .show_id {
  position: absolute;
  display: none;
}

.overlay_flair .main_widget form #paste_btn:checked~.show_id {
  display: block;
}