  /* The hamburger button hidden inside an input element */
  #post.timeline-navbar__item-btn {
    display: block;
    width: 303px;
    height: 54px;
    position: absolute;
    top: 484px;
    left: 0px;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
  }

  div#post_item {
    position: absolute;
    display: none;

    /* Hide the menu off-screen to the left */
    left: -4000px;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    transition: left 0.3s ease;
  }

  #post.timeline-navbar__item-btn:checked~#post_item {
    display: block;
    left: 0%;
  }

  #media.timeline-navbar__item-btn {
    display: block;
    width: 196px;
    height: 54px;
    position: absolute;
    top: 484px;
    left: 197px;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
  }

  div#media_item {
    position: absolute;
    display: none;

    /* Hide the menu off-screen to the left */
    left: -4000px;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    transition: left 0.3s ease;
  }

  #media.timeline-navbar__item-btn:checked~#media_item {
    display: block;
    left: 0%;
  }

  #likes.timeline-navbar__item-btn {
    display: block;
    width: 303px;
    height: 54px;
    position: absolute;
    top: 484px;
    left: 301px;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
  }

  div#likes_item {
    position: absolute;
    display: none;

    /* Hide the menu off-screen to the left */
    left: -4000px;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    transition: left 0.3s ease;
  }

  #likes.timeline-navbar__item-btn:checked~#likes_item {
    display: block;
    left: 0%;
  }


  #more_btn {
    position: absolute;
    width: 251px;
    height: 49px;
    top: 368px;
    z-index: 1;
    opacity: 0;
    cursor: pointer;

  }

  #more_btn:checked~#toggle_button {
    top: 704px;
  }

  #more_btn:checked {
    top: 719px;
  }

  #toggle_button {
    position: absolute;
    top: 350px;
    height: 360px;
    width: 190px;
    background: white;
    transition: top 0.1s;
  }


  #more_icon {
    fill: #5b7083;
    --cl-secondary-text-color: #5b7083;
  }


  #file {
    width: 36px;
    position: absolute;
    opacity: 0;
    overflow: hidden;
    cursor: pointer;
  }


  #file input {
    opacity: 0;
    cursor: pointer;
  }

  #file input::-webkit-file-upload-button {
    cursor: pointer;
  }

  #image {
    height: 110px;
    width: 110px;
    position: absolute;
    left: 0px;
    opacity: 0;
    overflow: hidden;
    cursor: pointer;
  }


  #image_input {
    transform: translate(-100%, 0) scale(7);
    opacity: 0;
    cursor: pointer;
  }

  #image_input::-webkit-file-upload-button {
    cursor: pointer;
  }

  #menu {
    position: absolute;
    top: 298px !important;
    left: 93px;
    display: none !important;
  }

  #show_menu {
    position: absolute;
    width: 39px;
    left: 374px;
    height: 40px;
    top: 269px;
    opacity: 0;
    cursor: pointer;
  }

  #show_menu:checked~#menu {
    display: block !important;
  }

  #background {
    display: none;
  }

  #modal {
    display: none;
    padding-right: 0px;
    left: 727px;
    width: 504px;
  }

  #display {
    position: absolute;
    width: 153px;
    height: 26px;
    left: 340px;
    top: 627px;
  }

  #checkbox:checked {
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(170, 38, 38, 0.65);
  }

  #display:checked~#modal {
    display: inline-block;
  }

  #display:checked~#background {
    z-index: auto;
    display: block;
  }

  #display:checked~#back_checkbox {
    display: block;
    opacity: 0;
  }

  #back_checkbox {
    width: 100%;
    height: 100%;
    display: none;

  }

  #back_checkbox:checked {
    display: none !important;
  }

  #back_checkbox:checked~#modal {
    display: none;
  }

  #back_checkbox:checked~#background {
    display: none;
  }


  .form {

    position: relative;
  }

  .form .fa-search {

    position: absolute;
    top: 20px;
    left: 20px;
    color: #9ca3af;

  }


  .form-input {
    position: relative;
    top: 10px;
    text-indent: 33px;
    border-radius: 0px;
  }

  .form-input:focus {

    box-shadow: none;
    border: none;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
  }

  .main_body {
    position: relative;
    top: 100px;
  }


  .visuallyhidden {
    display: block;
    position: absolute;
    width: 838px;
    height: 14px;
    opacity: 0;
  }
#upload_image{
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

}

  #upload_new_cover {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  #description {
    display: none;
  }

  #poll {
    display: none;
  }

  #poll:checked~.timeline-pubbox__poll{
    display: block;
  }

.timeline-pubbox__poll{
  display: none;
}
  .visuallyhidden:checked~#description {
    display: block;
  }

  .visuallyhidden:checked~#poll {
    display: block;
  }